body{
    box-sizing: border-box;
    background-color: blueviolet;
    color: yellow;
    border-radius: 100px;
    width: 50px;
    height: 100px;
    display: block;
    line-height: 10px;

}
 p{
    color: green;
 }